<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9SchyefMbJiHelxgxuKa8yMcWHbGGMEo</string>
	<key>GCM_SENDER_ID</key>
	<string>939353532263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eviluci.deathnote</string>
	<key>PROJECT_ID</key>
	<string>deathnote-eviluci</string>
	<key>STORAGE_BUCKET</key>
	<string>deathnote-eviluci.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939353532263:ios:d0884fb6a854b9501d71c2</string>
</dict>
</plist>